.fade-in {
    animation: fadeIn ease 0.5s;
    /* opacity: 0; */
}
  
@keyframes fadeIn {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}