.rpl-sub-btn{
    background-color: #003949;
    color: white;
    height: 3rem;
    width: 6.5rem;
    transition-property: all;
    transition-duration: 0.2s;
}
.rpl-sub-btn:hover{
    background-color: white;
    color: #003949;
}